<header class="site-header" role="banner">
  <div class="container">
    <div class="brand"><a href="index.html">8Cigsn4Roses</a></div>
    <nav aria-label="Primary" class="site-nav">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="moodboard.html">Moodboard</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </div>
    <script src="https://lint.page/kit/4d0fe3.js" crossorigin="anonymous"></script>

</header>