

    <nav aria-label="External links">
      <ul>
        <li><a href="https://webpages.uncc.edu/ralvar10/">Charlotte.edu</a></li>
        <li><a href="https://github.com/ralvar10/ralvar10.github.io">GitHub</a></li>
        <li><a href="https://ralvar10.github.io/itis3135/">GitHub.io</a></li>
        <li><a href="https://www.freecodecamp.org/ramiroafghanhound">freeCodeCamp</a></li>
        <li><a href="https://www.codecademy.com/profiles/afghanhoundramiro">Codecademy</a></li>
        <li><a href="https://www.linkedin.com/in/ramiro-alvarez-cruz-9b5b36285/">LinkedIn</a></li>
        <li><a href="https://webpages.charlotte.edu/ralvar10/itis3135/itis3135/fccfsjs_outline.html">FCC Full Stack JavaScript Outline</a></li>
        <li><a href="https://webpages.charlotte.edu/ralvar10/itis3135/itis3135/hobby/index.html""</a></li>
      </ul>
    </nav>
    <a>Page Built by <a href="ramiroalvarezcruzstudios.com">Ramiro Alvarez-Cruz Studios © 2025.</a>
    