<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>About — Aidan McCollick</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header data-include="components/header.html"></header>


    <main class="main">
        <section class="container">
            <h1>About</h1>
            <p>Through photography and creative direction, I aim to build visual worlds inspired by personal history, present obsessions, and the moments that linger. 
                My work is shaped by collaboration with creators I admire—people who bring depth, texture, and perspective to every project.
            </p>
        </section>
    </main>

    <footer class="site-footer">
       <div data-include="components/footer.html"></div>
    </footer>
</body>
 <script src="assets/js/HTMLInclude.min.js"></script>
</html>